.nc-select {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 13px;
  font-weight: normal;
  outline: none;
  padding: 12px 30px 12px 18px;
  position: relative;
  text-align: left;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  min-width: 190px;
  &::after {
    border-bottom: 2px solid #1d1d1d;
    border-right: 2px solid #1d1d1d;
    content: "";
    display: block;
    height: 5px;
    margin-top: -3px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 5px;
  }
  &.open {
    background: #fff;
    z-index: 10;
    border-color: #999;
    &:after {
      transform: rotate(-135deg);
    }
    .list {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1) translateY(0);
    }
  }
  .list {
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 190px;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(0px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
  }
  .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    border-bottom: 1px solid #f5f5f5;
    &.selected {
      background-color: #f5f5f5;
    }
    &:hover,
    &:focus {
      background-color: #f5f5f5;
    }
  }
}

.overlay {
  background-color: transparent;
  &.is-open {
    z-index: 7;
  }
}
