<div class="container-fluid no-padding h-100">
  <div class="row flex-row h-100 bg-white">
    <div class="col-xl-8 col-lg-6 col-md-5 no-padding">
      <div class="supplychain-bg background-01">
        <div class="supplychain-overlay overlay-01"></div>
        <!-- <div class="authentication-col-content mx-auto">
                  <h1 class="gradient-text-01" [innerHTML]="'Components.Login.Welcome' | translate"></h1>
              </div> -->
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-7 my-auto no-padding">
      <div class="authentication-form mx-auto mb-1x">
        <div class="float-right" aria-labelledby="language-dropdown">
          <dropdown [data]="languages" (onSelectedChange)="setLanguage($event)"> </dropdown>
        </div>
      </div>
      <div class="authentication-form mx-auto">
        <div class="logo-centered">
          <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <!-- <img src="assets/images/logo_mercon.png" alt="logo" /> -->
          </a>
        </div>
        <h3 [innerHTML]="'Components.Login.SignIn' | translate"></h3>
        <form (ngSubmit)="onLogin(f)" #f="ngForm">
          <div class="group material-input">
            <input
              type="text"
              inputFocus
              noSpaces
              name="email"
              [(ngModel)]="userContextModel.username"
              #email="ngModel"
              required
            />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label [innerHTML]="'Commons.Required.UsernameRequired' | translate"></label>
            <div *ngIf="email.invalid && (email.dirty || email.touched || f.submitted)" class="error">
              <div *ngIf="email.errors?.whitespace" [innerHTML]="'Commons.Error.ErrWhiteSpace' | translate"></div>
              <div *ngIf="email.errors?.required" [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
              <div *ngIf="email.errors?.pattern" [innerHTML]="'Commons.Error.ErrFormatEmail' | translate"></div>
            </div>
          </div>
          <div class="group material-input">
            <input
              type="password"
              inputFocus
              noSpaces
              name="password"
              [(ngModel)]="userContextModel.password"
              #password="ngModel"
              required
            />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label [innerHTML]="'Commons.Required.PasswordRequired' | translate"></label>
            <div *ngIf="password.invalid && (password.dirty || password.touched || f.submitted)" class="error">
              <div *ngIf="password.errors?.whitespace" [innerHTML]="'Commons.Error.ErrWhiteSpace' | translate"></div>
              <div *ngIf="password.errors?.required" [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
            </div>
          </div>
          <div
            *ngIf="f.submitted && isError"
            class="form-input error"
            [innerHTML]="i18nService.getTransError(loginError)"
          ></div>
          <div class="row">
            <div class="col col-xs-12 col-sm-6">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="remember"
                    [(ngModel)]="userContextModel.remember"
                  />
                  <span translate>Components.Login.RememberMe</span>
                </label>
              </div>
            </div>
            <div class="col col-xs-12 col-sm-6 text-right">
              <a
                [routerLink]="['', 'forgot-password']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                [innerHTML]="'Components.Login.ForgotPassword' | translate"
              ></a>
            </div>
          </div>
          <div class="sign-btn text-center">
            <button
              type="submit"
              [disabled]="clientState.isBusy"
              [disabled]="clientState.isBusy"
              class="btn btn-success"
              [innerHTML]="'Commons.Button.SignIn' | translate"
            ></button>
          </div>
        </form>
      </div>
      <div [hidden]="!clientState.isBusy" class="inside-block">
        <loading-state></loading-state>
      </div>
    </div>
  </div>
</div>
