<div class="pagination-container" *ngIf="totalPages && totalPages > 0">
  <div class="pagin-offset">
    <p>Showing {{ startIndex + 1 }} to {{ endIndex + 1 }} of {{ totalItems }} entries</p>
  </div>
  <ul class="page menu right">
    <li class="item navigate pre {{ noPrevious() || disabled ? 'disabled' : '' }}">
      <a href (click)="selectPage(page - 1, $event)">{{ options.previousText }}</a>
    </li>
    <li *ngIf="directionLinks && hasDirection()" class="item {{ disabled ? 'disabled' : '' }}">
      <a href (click)="selectPage(1, $event)">1</a>
    </li>

    <li
      *ngFor="let page of pages; trackBy: trackByFn"
      [class.active]="page.active"
      class="item {{ disabled ? 'disabled' : '' }}"
    >
      <a
        class="{{ page.active ? 'active' : 'not-selected-page' }}"
        href
        (click)="selectPage(page.number, $event)"
        [innerHTML]="page.text"
      ></a>
    </li>

    <li *ngIf="boundaryLinks && hasBoundary()" class="item {{ disabled ? 'disabled' : '' }}">
      <a href (click)="selectPage(totalPages, $event)">{{ totalPages }}</a>
    </li>
    <li class="item navigate next {{ noNext() || disabled ? 'disabled' : '' }}">
      <a href (click)="selectPage(page + 1, $event)">{{ options.nextText }}</a>
    </li>
  </ul>
</div>
